.content {
  margin: -50px 0 50px 0;

  .box {
    @include breakpoint(small only) {
      margin: 40px 0 0 0;
      &:first-child {
        margin: 0;
      }
    }
    @include breakpoint(large) {
      margin-top: 0;
    }
    &.detail-info {
      @include breakpoint(medium only) {
        margin-bottom: 40px;
      }
    }
    &.players-overview {
      @include breakpoint(medium only) {
        margin-bottom: 40px;
      }
      .box-inside {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }

    .box-inside {
      @include border-radius(5px);
      @include box-shadow(0, 2px, 5px, #E7ECEF);
      background: $color-white;
      padding: 20px;

      h3 {
        border-bottom: 1px solid #E7ECEF;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
      }
      ul {
        list-style: none;
        margin: 0;

        .event {
          border-top: 1px solid #E7ECEF;
          margin: 0 0 20px 0;
          padding: 24px 0 0 0;
          &:first-child {
            border-top: 0;
            padding: 0;
          }

          .event-inside {
            position: relative;
            &.not {
              &:before {
                content: 'Afgelast';
                @include border-radius(5px);
                @include block(absolute);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(#E35354, .75);
                z-index: 1;
                color: $color-white;
                font-family: $font-primary;
                font-weight: 300;
                font-size: 26px;
                line-height: 26px;
                text-align: center;
                text-transform: uppercase;
                padding: 49px 0;
                @include breakpoint(large) {
                  padding: 25px 0;
                }
              }
            }
          }

          .title {
            h4 {
              display: inline-block;
              width: 100%;
              text-align: center;
              @include breakpoint(large) {
                width: auto;
                text-align: left;
              }
            }
            .weather {
              color: $color-darkgrey;
              font-family: $font-primary;
              font-weight: 300;
              font-size: 36px;
              line-height: 36px;
              float: right;
              margin: 6px 0 0 0;
              @include breakpoint(large) {
                margin: 0;
              }

              span {
                font-weight: 400;
              }
            }
          }
          .info {
            position: relative;
            padding: 0 0 0 0;
            @include breakpoint(large) {
              padding: 0 150px 0 0;
            }

            p {
              letter-spacing: 0.5px;
              margin: 0;
            }
            .details {
              width: 100%;
              text-align: center;
              margin: 20px 0 0 0;
              @include breakpoint(large) {
                width: auto;
                position: absolute;
                right: 0;
                bottom: 0;
                text-align: right;
                margin: 0;
              }
            }
          }
        }

        .player {
          border-top: 1px solid #E7ECEF;
          margin: 0 0 20px 0;
          padding: 24px 0 0 0;
          &:first-child {
            border-top: 0;
            padding: 0;
          }

          h4 {
            display: inline-block;
          }
          .heartrate {
            color: $color-darkgrey;
            font-family: $font-primary;
            font-weight: 400;
            font-size: 36px;
            line-height: 28px;
            float: right;

            img {
              height: 22px;
              vertical-align: top;
              margin: 2px 5px 0 0;
            }
          }
        }
      }

      .football-pitch {
        position: relative;
        padding: 0 0 20px 0;

        .pitch {
          display: none;
          @include breakpoint(large) {
            display: block;
          }
        }

        ul {
          @include breakpoint(large) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 20px;
            left: 0;
            margin: 50px 20px 20px;
            text-align: center;
          }

          li {
            width: 100%;
            color: $color-darkgrey;
            font-family: $font-primary;
            text-align: left;
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
            border-top: 1px solid #E7ECEF;
            margin: 20px 0 0 0;
            padding: 24px 0 0 0;
            &:first-child {
              border-top: 0;
              margin: 0;
              padding: 0;
            }
            @include breakpoint(large) {
              background: url('../img/football-shirt.png') no-repeat;
              background-size: 100% 100%;
              width: auto;
              min-width: 90px;
              min-height: 90px;
              margin: 0 5px 30px !important;
              padding: 10px 0 0 0 !important;
              font-weight: 300;
              font-size: 15px;
              line-height: 20px;
              text-align: center;
              border-top: none !important;
            }
            @include breakpoint(1200px) {
              margin: 0 15px 30px !important;
            }

            img {
              height: 22px;
              vertical-align: top;
              margin: 2px 5px 0 0;
              display: inline-block;
              position: relative;
              @include breakpoint(large) {
                margin: 0 auto 10px;
                display: block;
              }
            }
            span {
              display: inline-block;
              margin: 0 25px 0 0;
              font-weight: 400;
              font-size: 36px;
              line-height: 28px;
              @include breakpoint(large) {
                display: block;
                margin: 0 0 6px 0;
              }
            }
          }
        }
      }
    }
  }
}
