.white-popup {
  position: relative;
  background: $color-white;
  margin: 20px auto;
  padding: 20px;
  @include border-radius(5px);
  width: auto;
  max-width: 570px;

  .mfp-close {
    top: 14px;
    right: 5px;
  }

  h3 {
    border-bottom: 1px solid #E7ECEF;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
  }
}

header {
  padding: 50px 0 100px 0;
  background: $color-primary;
  background: -webkit-linear-gradient(128deg, $color-primary, $color-darkgreen);
  background: -o-linear-gradient(128deg, $color-primary, $color-darkgreen);
  background: -moz-linear-gradient(128deg, $color-primary, $color-darkgreen);
  background: linear-gradient(128deg, $color-primary, $color-darkgreen);

  .logo {
    &.center {
      text-align: center;
    }

    img {
      float: none;
      vertical-align: top;
      height: 60px;
    }
  }
  .menu {
    text-align: right;

    ul {
      margin: 0;
      list-style: none;
      display: inline-block;

      li {
        position: relative;
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 0 20px 0 0;
        &:before {
          content: '|';
          @include block(absolute);
          top: 0;
          right: 0;
        }

        a {
          border-bottom: 1px solid transparent;
          padding-bottom: 12px;
          -webkit-transition: border-color .3s ease, padding-bottom .3s ease;
          transition: border-color .3s ease, padding-bottom .3s ease;
          &:hover {
            border-color: $color-white;
            padding-bottom: 5px;
          }
        }
      }
      li, li a {
        color: $color-white;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 0.7px;
      }
    }

    .current-date {
      display: inline-block;

      p {
        color: $color-white;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 0.7px;
        margin: 0;
        text-align: right;

        span {
          font-weight: 300;
        }
      }
    }
  }
}
