$grid-column-count: 24;
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
$font-primary: 'Roboto', sans-serif;
$color-white: #FFF;
$color-black: #000;
$color-primary: #23CF5F;
$color-darkgreen: #4BA55B;
$color-grey: #B5BFCC;
$color-darkgrey: #3C3C3C;
@import 'mixins';
@import 'typography';
@import 'header';
@import 'content';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background: #F4F9FC;
  font-family: $font-primary;
  color: $color-darkgrey;
}

.clear {
  clear: both;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.button {
  @include border-radius(5px);
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 9px;
  border: none;
  cursor: pointer;
  background: $color-grey;
  color: $color-white;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  width: auto;
  min-width: 25px;
  height: 25px;
  line-height: 25px;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  &:hover {
    background: #97A1AF;
  }

  &.present {
    background: $color-primary;
    &:hover {
      background: #1BBB53;
    }
  }
  &.absent {
    background: #E35354;
    &:hover {
      background: #D04647;
    }
  }

  span {
    font-weight: 300;
  }
}

.box, .white-popup {
  form {
    input {
      height: 40px;
      margin: 0 0 20px 0;
      padding: 7px;
      border: 1px solid $color-grey;
      @include border-radius(5px);
      background: $color-white;
      @include box-shadow(0, 1px, 1px, rgba(10, 10, 10, .1), true);
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 300;
      color: $color-darkgrey;
      -webkit-transition: border-color .2s ease-in-out,-webkit-box-shadow .4s;
      transition: border-color .2s ease-in-out, -webkit-box-shadow .4s;
      transition: box-shadow .4s, border-color .2s ease-in-out;
      transition: box-shadow .4s, border-color .2s ease-in-out, -webkit-box-shadow .4s;
      &:focus {
        border: 1px solid #8A8A8A;
        background-color: $color-white;
        @include box-shadow(0, 0, 4px, #CACACA);
        -webkit-transition: border-color .2s ease-in-out,-webkit-box-shadow .4s;
        transition: border-color .2s ease-in-out, -webkit-box-shadow .4s;
        transition: box-shadow .4s, border-color .2s ease-in-out;
        transition: box-shadow .4s, border-color .2s ease-in-out, -webkit-box-shadow .4s;
      }

      &[type=submit] {
        display: inline-block;
        float: right;
        margin: 0 0 20px 0;
        padding: 0 18px;
        border: none;
        cursor: pointer;
        background: $color-primary;
        color: $color-white;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 40px;
        -webkit-transition: background .2s ease;
        transition: background .2s ease;
        &:hover {
          background: #1BBB53;
        }
      }
    }
  }
}
